[Unit]
Description=obd
Documentation=https://github.com/trickv/obd-logger

[Service]
ExecStart=__HOME__/obd/onboot
User=__USER__
Group=__USER__
StandardOutput=journal
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
Alias=obd.service
