[Unit]
Description=Tell PiSugar MCU to cut power after shutdown
DefaultDependencies=no
Conflicts=reboot.target
Before=poweroff.target halt.target shutdown.target
Requires=poweroff.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=__HOME__/obd/venv/bin/python3 __HOME__/obd/pisugar-poweroff

[Install]
WantedBy=shutdown.target
